

	.disciplina{
	
	position:relative;
	width: 200px;
	height: 200px;
	background-color: blue;
	float: left;"
	}
	
	.separador{
		
		position:relative;
	width: 200px;
	height: 200px;
	background-color: withe;
	float: left;"
		
	}
	
	.principal{
		
	
	}
	
	